*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Open Sans';
}
.container{
   max-width: 1200px;
    margin: 0 auto;
    padding: 0;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.fl{
    float: left;
}
.fr{
    float: right;
}
.top-bar{
    width: 100%;
    margin-top: 20px;
    margin-right: 20px;
   
}
.logo{
   margin-left: 20px;
   margin-right: 20px;
}

li{
    list-style: none;
    display: inline-block;
    font-size: 15px;
    padding-right: 10px;    
}
#login{
    background-color: blue;
    color: ghostwhite;
    height: 30px;
    width: 50px;
    margin-bottom: 10px;
    margin-right: 5px;
}
.jumbotron {
    background-color: #b4d0e7;
}

.container-main{
   width: 100%;
   position: relative;
   height: 450px;
   margin-top: 30px;
}

.testo-main{
    margin-left: 30px;
    margin-top: 30px; 
    font-size: 20px;
}

.testo-2{
    width: 35%;
    margin-left: 60px;
    line-height: 25px;
    margin-top: 20px;
}
.button , .button-2{
    margin-left: 60px;
    margin-top: 20px;
}
#login-2{
    background-color: blue;
    color: ghostwhite;
    height: 30px;
    width: 200px;
}
.jumbo{
 position: absolute;
 left: 40%;
 top: 30%;  
}
#tron{
    width: 600px;
    height: 400px;
    padding-top: 20px;
    padding-left: 30px; 
}
.container-2{
    max-width: 1200px;
    margin: 0 auto;
}
.business-plan{
margin-top: 100px;
text-align: center;
}
.check{
 line-height: 30px;
 margin-left: 270px;
}
.team{
    float:left;
    margin: 15px;
    width: calc((100% / 3) - 30px);
    border: 2px solid black;
}
.classes{
    width: 100%;
    height: 800px;
}

.item{
    height: 30px;
    text-align: center; 
    border-bottom: 1px solid black;
    margin-top: 10px;
}
.testo-professional{
    height: 150px;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
    line-height: 25px;
}
.offerta{
    margin-top: 30px;
}
.enterprice{
    width: 1170px;
    border: 2px solid black;
}

#premium{
    color: ghostwhite;
    background-color: blue;
    height: 50px;
    width: 170px;
    margin-top: 20px;
}
.testo-enterprice{
    text-align: left;
    line-height: 40px;
    margin-left: 20px;
    margin-top: 15px;
    
}
#contact{
    background-color: blue;
    color: ghostwhite;
    height: 40px;
    width: 180px;
    text-align: middle;  
}
.sales{
    margin-top: 20px;
    margin-left: 100px;
}
.container-3{
    max-width: 1200px;
    margin: 0 auto;
}
.partner{
    float: left;
    margin: 15px;
    width: 100%;
    height: 400px;
}

.partner-1{
    width: 50%;
    height: 400px;
    background-image: url(../img/partner.png);
    background-size: cover;
    background-position:center;
    
}
.partner-2{
    width: 50%;
    height: 400px;
    line-height: 30px;
    margin-top: 20px;
    padding-left: 50px;  
}
#boss{
    height: 30px;
    width: 120px;
}
.container-4{
    max-width: 1200px;
    margin: 0 auto;   
}

.integration{
    float: left;
    height: 500px;
    width: calc((100% / 3) - 40px);
    margin: 20px;
    border:3px solid lightcoral;
}

.foto{
    height: 230px;
    background-image: url(../img/business-feature-switching-tools.png);
    background-size: cover;
}
.text{
    text-align: center;
    margin-top: 25px;
    line-height: 25px;
}
.text-p{
    margin-top: 30px;  
}
.foto-2{
    height: 230px;
    background-image: url(../img/business-feature-coordinate-it.png);
    background-size: cover;
}
.foto-3{
    height: 230px;
    background-image: url(../img/business-feature-multi-device.png);
    background-size: cover;
}
.foto-4{
    height: 230px;
    background-image: url(../img/business-feature-integrations-it.png);
    background-size: cover;
}
.foto-5{
    height: 230px;
    background-image: url(../img/business-feature-send-files-it.png);
    background-size: cover;
}
.foto-6{
    height: 230px;
    background-image: url(../img/business-feature-security.png);
    background-size: cover;
}
.container-5{
    max-width: 1200px;
    margin: 0 auto;
}
.dev{
    text-align: left;
    margin-left: 70px;
    margin-bottom: 20px;
}
/*START BLOCCHI COLORATI*/
.layout{
    height: 600px;
    border: 1px solid red;   
}
.box-1{
    width: 33.3%;
    height: 500px;
}
.box-2{
    width: 33.3%;
    height: 500px;  
}
.box-3 {
    width: 33.3%;
    height: 500px;  
}
.box{
    float: left;
    width: 50%;
    height: 50%; 
}
.green{
    background-color: green;
}
.designit  ,  .asu , .topps  , .world{
    height: 50px;
    
}
.florida{
    height: 30px;
    
}
.brown{
    background-color: brown;
}
.blu{
    background-color: lightblue;
}
.arancio{
    background-color: orangered;
}
.rosso{
    background-color: red;
}
.azzurro{
    background-color: lightblue;
}
.scuro{
    background-color: darkblue;
}
.yellow{
    background-color: yellow;
}
/*box orizzontale*/
.client{
    width: 100%; 
}
#oxf{
    height: 50px;
    width: 180px;
    font-weight: 600px;  
}
/*sezione faq*/

.container-6{
    max-width: 1200px;
    margin: 0 auto;
}

.domande{
    margin-top: 100px;
}
[class^=es-faq]{
    margin-top: 30px;
    line-height: 30px;
    margin-bottom: 30px;
}
.centrato{
    margin-left: 100px; 
    margin-top: 150px;   
}
.es-faq::after{
    content: "\2228";
    margin-left: 800px;
    margin-bottom: 670px;
}

.matita{
    height: 500px;
    width: 1200px;
    margin-top: 20px;
    border: 2px solid red;
}
.last{
    float: left;
    height: 300px;
    width: calc((1200px /5) - 30px );
    margin-top: 20px;
    margin-left: 20px;
    border: 3px solid green;
}

.last li{
   display: inline-block;
    font-size: 15px;
    line-height: 30px;
    margin-left: 10px;
    
}